.content {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.cover_photo {
    width: 45vw;
    height: 100vh;
}

.right {
    width: 55vw;
    display: flex;
    float: right;
}

.top-text {
    display: flex;
}